@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 body{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
 }

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

header{
    position: sticky;
    top: 0;
    background: #9145B6;
    width: 100%;
    z-index: 7;
}

section{
    height: calc(100vh - 3rem);
    width: 100%;
    background: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    overflow: hidden;
}

.container{
    position: relative;
    max-width: 65rem;
    background: orchid;
    padding: 0 2rem;
    margin: 0 auto;
    display: flex;
}

.logo-container{
    display: flex;
    flex: 1;
    align-items: center;
    background: red;
}

.nav-btn{
    background: green;
    flex: 3;
    display: flex;
}

.nav-links{
    background: greenyellow;
    flex: 2;
}

.log-sign{
    background: rgb(66, 20, 43);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.btn{
    margin: 0 .2rem;
    padding: .5rem 1.3rem;
    line-height: 1;
    border-radius: 2rem;
    text-transform: uppercase;
    border: 2px solid #fff;
    display: inline-block;
}

.btn.transparent, .btn.solid:hover{
    color: #fff;
    background: transparent;
}

.btn.solid, .btn.transparent:hover{
    background: #fff;
    color: #9145B6;
}

.nav-links > ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link{
    position: relative;
}

.nav-link > a{
    color: #fff;
    font-size: .95rem;
    letter-spacing: 1px;
    line-height: 3rem;
    padding: 0 .8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .3s;
}

.nav-link > a > i{
    margin-left: .2rem;
}

.nav-link > a:hover{
    transform: scale(1.1);
}

.dropdown{
    position: absolute;
    top: 100%;
    left: 0;
    width: 10rem;
    transform: translateY(10px);
}

.dropdown ul{
    position: relative;
}

.dropdown-link:not(:nth-child(4)){
    border-bottom: 1px solid #9145B6;
}

.dropdown-link > a{
    background: #fff;
    padding: .5rem 1rem;
    color: #9145B6;
    font-size: .9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;   
    transition: .3s;
}

.dropdown-link > a:hover{
    background: #9145B6;
    color: #fff;
}

.dropdown-link i{
    transform: rotate(-90deg);
}

.arrow{
    position: absolute;
    height: .9rem;
    width: .9rem;
    background: #fff;
    transform: rotate(45deg);
    top: -.4rem;
    left: 1rem;
    cursor: pointer;
    z-index: 1;
    transition: .3s;
}

.dropdown-link:first-child:hover ~ .arrow{
    background: #9145B6;
}

.dropdown-link{
    position: relative;
}

.dropdown.second{
    top: 0;
    left: 100%;
    padding-left: .8rem;
    cursor: pointer;
}

.dropdown.second .arrow{
    top: 10px;
    left: -5.5px;
}

.dropdown-link.no-border{
    border-bottom: none;
}